name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Create APK
        uses: darkshredder/website-to-apk-action@v1.1
        with:
          app-name: "MyFirstApp"
          build-folder-path: "."
